body {
  font-family: Lato;
}

.headimg{
  padding-top:5px;
  
}

.pokepic {
  height:120px;
}

.poce-details-image{
  height:140px;
}
.pad {
  padding-top: 75px;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
  background: url(../img/pokebola.gif) no-repeat fixed center; 
}

.bold{
  font-weight: 900;
}

.navbar-default{
  background-color:#fff;
}

.types {
  font-weight:300;
 /* font-style: italic;
 */ line-height: 2;
}

.pokenames
{
  padding:10px;
  font-weight:900;
  border: 1px solid #5C6BC0;
  margin:5px;
  border-radius: 6px;
  background-color: #312f9a;
  color: rgba(255,255,255,0.9);
}
.pokenames:hover{
  background-color: #2f4899;
  
}

.pokedetails{
  margin:7px;
  padding:10px;
  position: fixed;
  top: 74px;
  left: 75%;
  border:none;
  color: rgba(0,0,0,0.86);
}

.pokedetails-border{border: 1px solid #000;
  border-radius:6px;
  background-color:#ffcc03;
}

.loadmore-btn{
  display:none;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #312f9a;
}
.loadmore-btn:hover{
  background-color: #2f4899;
}


.type-padding{
  border-radius: 6px;
  padding: 2px 10px 3px 10px;
  margin: 5px;
  color: rgba(255,255,255,0.86);
}

.normal-color{
  background-color: #a8a878;
}
.fire-color{
  background-color: #f08030;
}
.water-color{
  background-color: #6890f0;
}
.grass-color{
  background-color: #78c850;
}
.electric-color{
  background-color: #f8d030;
}
.ice-color{
  background-color: #98d8d8;
}
.ground-color{
  background-color: #e0c068;
}
.flying-color{
  background-color: #a890f0;
}
.poison-color{
  background-color: #a040a0;
}
.fighting-color{
  background-color: #c03028;
}
.psychic-color{
  background-color: #f85888;
}
.dark-color{
  background-color: #705848;
}
.rock-color{
  background-color: #b8a038;
}
.bug-color{
  background-color: #a8b820;
}
.ghost-color{
  background-color: #705898;
}
.steel-color{
  background-color: #b8b8d0;
}
.dragon-color{
  background-color: #7038f8;
}
.fairy-color{
  background-color: #ffaec9;
}


@media only screen  and (min-width : 320px) {
 .pokedetails{
  left:50%;
  width:45%; 
}     
.poce-details-image{
  height:140px;
}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  .pokedetails{
    left:50%;
    width:45%;
  }
  .poce-details-image
  {
    height:140px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .pokedetails{
    left:65%;
    width:30%;
  }
  .col-sm-4 {
    width:30%;
  }
  .poce-details-image
  {
    height:100%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .col-md-3{
    width:23%;
  }

  .pokedetails{
    left:65%;
    width:22%;
  }
    .poce-details-image
  {
    height:100%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .col-md-3 {
    width:23%;
  }
  .pokedetails{
    left:65%;
    width:18%;
  }
    .poce-details-image
  {
    height:100%;
  }
}
